<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en-GB"
      layout:decorate="~{base}">
<body>
<main layout:fragment="content">

  <h1>Create a New Petition</h1>

  <!-- Flash Messages for Success/Error -->
  <div th:if="${errorMessage}" class="alert alert-danger" th:text="${errorMessage}">
  </div>

  <!-- Petition Creation Form -->
  <form th:action="@{/petition/new}" th:object="${petition}" method="post">
    <!-- Petition Title -->
    <div class="mb-3">
      <label class="form-label" for="title">Petition Title</label>
      <input class="form-control form-control-lg"  type="text" id="title" name="title"
             th:field="*{title}" placeholder="Enter title here" />
    </div>

    <!-- Creator Name -->
    <div class="mb-3">
      <label class="form-label" for="creatorName">Your Name</label>
      <input class="form-control form-control-lg"  type="text" id="creatorName" name="createdBy.name"
             th:field="*{createdBy.name}"
             placeholder="Your Name" />
    </div>

    <!-- Creator Email -->
    <div class="mb-3">
      <label class="form-label" for="creatorEmail">Your Email</label>
      <input class="form-control form-control-lg"  type="email" id="creatorEmail" name="createdBy.email"
             th:field="*{createdBy.email}" placeholder="Your Email" />
    </div>

    <!-- Submit Button -->
    <button type="submit" class="btn btn-success">Create Petition</button>
  </form>
</main>
</body>
</html>