<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en-GB"
      layout:decorate="~{base}">
<body>
<main layout:fragment="content">

  <h1>Create a New Petition</h1>

  <!-- Flash Messages for Error -->
  <div th:if="${errorMessage}" class="alert alert-danger" th:text="${errorMessage}">
  </div>

  <!-- Petition Creation Form -->
  <form th:action="@{/petition/new}" th:object="${petition}" method="post">
    <div class="mb-3">
      <label class="form-label" for="title">Petition Title</label>
      <input class="form-control form-control-lg"  type="text" id="title" name="title"
             th:field="*{title}" placeholder="e.g. Safe the rain forest" />
    </div>

    <div class="row mb-3">
      <div class="col-md-6">
        <label class="form-label" for="creatorName">Name</label>
        <input class="form-control form-control-lg"  type="text" id="creatorName" name="createdBy.name"
               th:field="*{createdBy.name}"
               placeholder="e.g. John Smith" />
      </div>
      <div class="col-md-6">
        <label class="form-label" for="creatorEmail">Email address</label>
        <input class="form-control form-control-lg"  type="email" id="creatorEmail" name="createdBy.email"
               th:field="*{createdBy.email}" placeholder="e.g. john@example.com" />
      </div>
    </div>

    <!-- Submit Button -->
    <button type="submit" class="btn btn-success">Create Petition</button>
  </form>
</main>
</body>
</html>